.footer-button {
  @include font(16px, 700, 30px);
  display: inline-flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  border: none;
  cursor: pointer;
  margin-left: 12px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 28px;
  transition: color var(--transition);
}

.modal-form-footer {
  display: flex;
}

.modal-form-field-footer {
  width: 356px;
  height: 50px;
}

.modal-form-field-footer::placeholder {
  padding: 15px;
  margin-right: 12px;
}

.send-mail-icon {
  fill: var(--white-color);
  margin-left: 10px;
}
